[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/concat"]
	path = modules/concat
	url = git@github.com:h0tbird/puppet-concat.git
[submodule "modules/dhcp"]
	path = modules/dhcp
	url = git@github.com:h0tbird/puppet-dhcp.git
[submodule "modules/git"]
	path = modules/git
	url = git@github.com:h0tbird/puppet-git.git
[submodule "modules/hosts"]
	path = modules/hosts
	url = git@github.com:h0tbird/puppet-hosts.git
[submodule "modules/motd"]
	path = modules/motd
	url = git@github.com:h0tbird/puppet-motd.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git@github.com:h0tbird/puppet-mysql.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git@github.com:h0tbird/puppet-ntp.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = git@github.com:h0tbird/puppet-puppet.git
[submodule "modules/repos"]
	path = modules/repos
	url = git@github.com:h0tbird/puppet-repos.git
[submodule "modules/samba"]
	path = modules/samba
	url = git@github.com:h0tbird/puppet-samba.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = git@github.com:h0tbird/puppet-ssh.git
[submodule "modules/user"]
	path = modules/user
	url = git@github.com:h0tbird/puppet-user.git
